{% extends 'an/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div>
            <h1>Welcome on my website !</h1>
            <p>On this one you can find examples of features, websites and my resume</p>
        </div>
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/indexScripts/darkModeIndex.js"></script>

{% endblock %}

