{% extends 'fr/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %} 
<link href="/public/css/login/login.css" rel="stylesheet"> 
{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">L'adresse mail ou le mot de passe sont incorrects</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="loginBox">
        <ul class="tab-group">
            <li class="tab active">
                <a class="lesLiens" id="lienConnexion" href="/login">Connexion</a>
            </li>
            <li class="tab">
                <a class="lesLiens" id="lienInscription" href="/register">Inscription</a>
            </li>
        </ul>
        <h1 class="h3 font-weight-normal">Authentification</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*********" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <section class="text-center" id="maSection">
            <button class="btn btn-lg btn-secondary" type="submit">
                Valider
            </button>
        </section>
        
    </div>
</form>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script> 
<script src="/public/scripts/featuresScripts/postalCode.js"></script> 
{% endblock %}
