{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div>
            <h1>Bonjour et bienvenue sur mon site !</h1>
            <p>Sur celui ci vous pourrez trouver des exemples de fonctionnalités, de sites ainsi que mon CV.</p>
        </div>
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/indexScripts/darkModeIndex.js"></script>

<!-- Liste des choses à changer avant de passer en prod :
    - js de base.html.twig
    - js de index.html.twig
    - js de about.html.twig
    - css commun de about.html.twig
    - let dev = false dans darkModeButton.js
    - les liens de navbar.html.twig
    - .env APP_ENV=dev ou APP_ENV=production
    - les liens vers les différentes features dans features.html.twig
    - Les scripts des différentes features
-->
{% endblock %}

