<p>
    Bonjour, veuillez confirmer votre email en cliquant sur le lien suivant : 
    <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
</p>
<p>
    Ce lien expirera dans une heure.
</p>
