{% extends 'fr/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %} 
<link href="/public/css/login/register.css" rel="stylesheet"> 
{% endblock %}

{% block main %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div id="resultats" class="text-center">
        <!-- Ici on affichera les erreurs -->
    </div>
    <div class="loginBox">
        <ul class="tab-group">
            <li class="tab active">
                <a class="lesLiens" id="lienConnexion" href="/login">Connexion</a>
            </li>
            <li class="tab">
                <a class="lesLiens" id="lienInscription" href="/register">Inscription</a>
            </li>
        </ul>
        <h1 class="h3 mt-2 font-weight-normal">Création de compte</h1>
        {{ form_start(registrationForm) }}
            <div id="gestionErreurs">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            </div>
            <section class="text-center" id="maSection">
                <button type="submit" class="btn btn-lg btn-secondary">Je m'inscris</button>
            </section>
        {{ form_end(registrationForm) }}
        
    </div>

{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script> 
<script src="/public/scripts/featuresScripts/postalCode.js"></script> 
<script src="/public/scripts/loginScripts/register.js"></script>
{% endblock %}
