{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}

{% block stylesheets %} 
<!-- LIEN -->
<link href="/public/css/about/commonAbout.css" rel="stylesheet"> 
{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="maColonne">
                    <!-- LIEN -->
                    <img src="/public/images/about/profil.jpg" alt="photo de profil" height="100%" width="100%">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="maColonne" id="colonneDroite">
                    <h1 class="monTitre">A propos de moi</h1>
                    <div class="row">
                        <p> Né le 10 juillet 2000 à Béthune, j'ai aujourd'hui 20 ans, je suis titulaire d'un baccalauréat STI2D spécialité
                            Systèmes Informatiques et Numériques et d'un DUT Informatique parcours développement Web. Je suis à la recherche
                            d'une alternance dans le domaine du développement web. Actuellement, j'ai un contrat étudiant en tant qu'hôte d'accueil 
                            à Auchan Beauvais (depuis le 26 janvier 2019). 
                        </p>  
                    </div>
                    <div class="row">
                        <p> L'un des points forts du DUT informatique est qu'il reste assez large en terme de compétences développées. 
                            Nous avons pu découvrir de nombreux domaines tels que le droit, la comptabilité, l'economie ainsi que de 
                            la gestion de projet. Nous avons eu l'occasion d'apprendre les bases de nombreux langages tels que C, C++, 
                            C# et python par exemple. Par la suite (en deuxieme année) nous avons approfondi certains langages et 
                            commencé à appliquer une Programmation Orientée Objet. Ayant choisi le parcours "Web" en seconde année j'ai 
                            appris à utiliser le framework Symfony et m'en suis servi lors de mon stage en entreprise.
                        </p>
                    </div><!-- Row -->
                    <div class="row">
                        <p> Pour développer ce site j’utilise régulièrement Php, JavaScript, CSS3 ainsi que HTML5. 
                            J’utilise le framework Symfony avec Twig ainsi que Bootstrap pour la mise en forme. 
                            L'outils de versionning utilisé est 
                            <a class="mesLiens" target="blank" href="https://www.gitlab.com/Boulet/Site/">Gitlab</a>, 
                            il me permet aussi de rendre publique et consultable le code de ce site. 
                        </p>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <i class="bi bi-envelope"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                            </svg>
                            <a class="mesLiens" href="mailto:contact@clement-boulet.fr">contact@clement-boulet.fr</a>
                        </div>   
                        <div class="col-sm-6 text-center">
                            <i class="bi bi-linkedin"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg>
                            <a class="mesLiens" target="blank" href="https://www.linkedin.com/in/clement-boulet/">linkedin/clement-boulet</a>
                        </div>                      
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                            <a class="mesLiens" target="blank" href="/public/images/about/Cv.pdf">Télécharger mon CV</a>
                        </div>  
                    </div>
                </div> <!-- Ma col -->
            </div><!-- Col -->
        </div> <!-- Row -->
    </div> <!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<!-- Mes scripts -->
<script src="/public/scripts/aboutScripts/darkModeAbout.js"></script> 
{% endblock %}
