{% extends 'an/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}

{% block stylesheets %} 

<link href="/public/css/websites/.css" rel="stylesheet"> 
{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <h1>Examples of websites </h1>
        <div class="row">
            <div class="col-sm-4">
                <a class="aCards" target="_blank" href="/websites/garage-corki"><div class="card w-100 text-black bg-light" id="corkiCard" style="width: 18rem;"> 
                    <div class="card-header">
                        <h5 class="card-title">Garage Corki</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>French website of a fictive garage</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
        </div>
    </div> <!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/websitesScripts/darkModeWebsites.js"></script> 
{% endblock %}
