body{
    background-color: #212529;
}

#bootstrap-overrides .dropdown-menu, #monDropDown{
    border: 1px solid rgba(21,25,29,0.5)!important;
}

#bootstrap-overrides .dropdown-item:focus, .dropdown-item:hover{
    color:#F8F9FA!important;
    background-color: #212529!important;
}

#bootstrap-overrides .dropdown-item.active, .dropdown-item:active{
    color:#212529!important;
    background-color: #F8F9FA!important;
}

/*Choix de langue*/
#bootstrap-overrides .dropdown-item, .LabelChoixLangue{
    background-color: #F8F9FA!important;
    color:#212529!important;
    pointer-events: none!important;
}

#bootstrap-overrides .form-switch .form-check-input{
    background-color: #212529;
}

#bootstrap-overrides .dropdown-item, .monActiveDark{
    background-color:#212529 !important;
    color:#F8F9FA!important;
}

#bootstrap-overrides .dropdown-item, .monInactiveDark{
    background-color: #F8F9FA!important;
    color:#212529!important;
}
