body{
    background-color: #F8F9FA;
}

#bootstrap-overrides .dropdown-menu, #monDropDown{
    border: 1px solid rgba(255,255,255,0.5)!important;
}

/* dropdown item event */
#bootstrap-overrides .dropdown-item:focus, .dropdown-item:hover{
    color:#212529!important;
    background-color: #F8F9FA!important;
}

#bootstrap-overrides .dropdown-item.active, .dropdown-item:active{
    color:#F8F9FA!important;
    background-color: #212529!important;
}
/* Switch */
#bootstrap-overrides .form-switch .form-check-input{
    background-color: #F8F9FA;
    color:#212529;
}

/* Active */
#bootstrap-overrides .dropdown-item, .monActiveLight{
    background-color:#F8F9FA !important;
    color:#212529!important;
}
/* Inactive  */
#bootstrap-overrides .dropdown-item, .monInactiveLight{
    background-color: #212529!important;
    color:#F8F9FA!important;
}

/*Choix de langue*/
#bootstrap-overrides .dropdown-item, .LabelChoixLangue{
    background-color: #212529!important;
    color:#F8F9FA!important;
    pointer-events: none!important;
}

/* Label btn*/
#bootstrap-overrides .dropdown-item, .monLabelBtn{
    color:#F8F9FA!important;
}

#bootstrap-overrides .monLabelBtn:focus, .monLabelBtn:hover{
    color:#212529!important;
    background-color: #F8F9FA!important;
}
/*  */
section:hover #btnLabelSwitch{
    background-color:#F8F9FA ;
    color:#212529!important;
}
