{% extends 'an/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}


{% block main %}
<div class="jumbotron">
    <div class="container">
        
        <h1>Features</h1>
        <p>Here you can explore differents features</p>

        <div class="row">
            <div class="col-sm-4">
                <a class="aCards" href="/features/postalCode">
                    <div class="card w-100 text-black bg-light" id="APICard" style="width: 18rem;">
                        <div class="card-header">
                            <h5 class="card-title">Interact with an API</h5>
                        </div><!-- card-header -->
                        <div class="card-body">
                            <div class="card-text">
                                <p>Search a municipality by zip code</p>
                            </div><!-- card-text -->
                        </div><!-- card-body -->
                    </div><!-- Card -->
                </a>
            </div>
            <div class="col-sm-4">
                <a class="aCards" href="/features/sendEmail"><div class="card w-100 text-black bg-light" id="sendEmailCard" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Send a mail</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>Using symfony mailer</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script>
{% endblock %}
