{% extends 'an/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}


{% block main %}
<div class="jumbotron">
    <div class="container">
        
        <h1>Use of an API to search for municipalities by postal code</h1>
        <p> 
            The API used is available on <a href="https://api.gouv.fr/documentation/api_carto_codes_postaux" 
            target="blank" class="mesLiens">api.gouv.fr</a>. In the text field below, we can only enter 5 numbers. However, as each possible 
            combination is not attributed to exactly one commune, sometimes we will have several for the same combination 
            and other times there will be nothing. This API can be used for example for registration forms, 
            when the user has to enter his postal code, we can dynamically insert in a selection field the communes which are linked to 
            it in order to facilitate the form or even to limit typing errors.
        </p>

        <div class="col-sm-4">
            <div class="input-group input-group-lg">
                <input id="entree" type="text" class="form-control" placeholder="postal code ">
                <button id="rechercher" class="btn btn-outline-secondary" type="button" style="margin-left:5px;">Search</button>
            </div>
        </div>

        <div id="resultats" class="col-sm-4" style="margin-top:10px;">
            <!-- Ici viendront les résultats de la recherche -->
        </div>

    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script> 
<script src="/public/scripts/featuresScripts/postalCode.js"></script>
{% endblock %}