{% extends 'fr/websites/salonMorgana/base.html.twig' %}

{% block stylesheets %}    
<link href="/public/css/websites/salonMorgana/date.css" rel="stylesheet"> 
{% endblock %}

{% block content %}
    <div class="container tabHoraires">
        <div id="mois" class="row d-flex justify-content-center">
            
        </div>
        <hr>
        <div id="jours" class="row d-flex justify-content-center">
        </div>
        
        <hr>
        <div id="heures" class="row justify-content-center">

        </div>
    </div>
        
{% endblock %}

{% block javascripts %}
  <script src="/public/scripts/websitesScripts/morganaScripts/dateScript.js"></script>
{% endblock %}