{% extends 'fr/websites/salonMorgana/base.html.twig' %}
{% block content %}
    <h2>Vous prennez rendez vous pour une femme</h2>

    <div class="row">
        <div class="col-lg-6 mb-6">
            <a href="/websites/salon-morgana/rendez-vous/date?type=enfant&rdv=Garçon">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/coupeEnfant.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Garçon
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 mb-6">
            <a href="/websites/salon-morgana/rendez-vous/date?type=enfant&rdv=fille">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/coupeFille.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Fille
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
