{% extends 'fr/websites/salonMorgana/base.html.twig' %}
{% block content %}
    <h2>Vous prennez rendez vous pour une femme</h2>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <a href="/websites/salon-morgana/rendez-vous/date?type=femme&rdv=coupe">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/femme4.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Coupe
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="/websites/salon-morgana/rendez-vous/date?type=femme&rdv=meches">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/femmeMeches.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Mèches
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="/websites/salon-morgana/rendez-vous/date?type=femme&rdv=coloration">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/femmeColoration.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Coloration
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
