{% extends 'fr/websites/salonMorgana/base.html.twig' %}
{% block content %}
    <h2>Vous prennez rendez vous pour un homme</h2>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <a href="/websites/salon-morgana/rendez-vous/date?type=homme&rdv=coupe">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/homme3.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Coupe
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="/websites/salon-morgana/rendez-vous/date?type=homme&rdv=barbe">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/hommeBarbe.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Barbe
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="/websites/salon-morgana/rendez-vous/date?type=homme&rdv=coloration">
                <div class="card">
                    <img class="card-img-top" src="/public/images/websites/salonMorgana/realisations/hommeColoration.jpg">
                    <div class="card-body">
                        <p class="card-text text-center">
                            Coloration
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
