{% extends 'fr/websites/salonMorgana/base.html.twig' %}

{% block content %}
  <section>
    <p>Le salon de coiffure morgana vous accueille 5 jours sur 7 pour des coupes hommes, femmes et enfants. Prenez rendez-vous
      en ligne pour vos coupes, colorations ainsi que pour la réalisation de vos mêches.
    </p>
  </section>
<div class="row">
  <div class="col-lg-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center" colspan="3" scope="col">Horraires d'ouverture</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Lundi</th>
          <td>fermé</td>
          <td>fermé</td>
        </tr>
        <tr>
          <th scope="row">Mardi</th>
          <td>fermé</td>
          <td>13h30-17h</td>
        </tr>
        <tr>
          <th scope="row">Mercredi</th>
          <td>9h30-12h30</td>
          <td>14h-17h30</td>
        </tr>
        <tr>
          <th scope="row">Jeudi</th>
          <td>fermé</td>
          <td>13h-18h00</td>
        </tr>
        <tr>
          <th scope="row">Vendredi</th>
          <td>9h30-12h30</td>
          <td>14h-17h30</td>
        </tr>
        <tr>
          <th scope="row">Samedi</th>
          <td>9h30-12h30</td>
          <td>14h-17h30</td>
        </tr>
        <tr>
          <th scope="row">Dimanche</th>
          <td>fermé</td>
          <td>fermé</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-7">
    <div class="card">
      <img src="/public/images/websites/salonMorgana/index/salon.jpg">
    </div>
  </div>
</div>
{% endblock %}