{% extends 'fr/websites/salonMorgana/base.html.twig' %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-5">
        <p>Trois coiffeurs formés par une Académie de coiffure réputée par sa qualité de coupe et de conseil depuis 40 
            ans vous attendent dans votre salon avec ou sans rendez-vous. Envie de changer de coupe ou de mettre du peps 
            dans votre couleur ? Rien n’est aussi simple ! Pour une coiffure parfaitement maîtrisée, moderne et qui vous 
            ressemble.</p>
    </div>
    <div class="col-lg-5">
        <div class="card phoneHide">
            <img src="/public/images/websites/salonMorgana/realisations/femme3.jpg">
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-5">
        <div class="card">
            <img src="/public/images/websites/salonMorgana/realisations/homme3bis.jpg">
        </div>
    </div>
    <div class="col-lg-5">
        <p>Nous utilisons pour vos cheveux toute une gamme de produits choisis ou conçus par des experts. 
            Spécialistes de la coiffure, ils ont développé chaque formule en pensant à vous, pour répondre à 
            vos besoins. En vous proposant les produits de grandes marques, nous répondons 
            à vos exigences de qualité et nous adaptons à votre budget.</p>
    </div>
</div>
{% endblock %}