<nav id="sidebar">
  <div class="sidebar-header">
    <a href="/websites/salon-morgana"><h3 id="titre">Salon Morgana</h3></a>
    
  </div>
  
  <ul class="list-unstyled components">
    <li id="horaires">
      <a href="/websites/salon-morgana/horaires">Nos horaires</a>
    </li>
    <li id="prendreRDV">
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Prendre rendez vous</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="/websites/salon-morgana/rendez-vous/homme">Homme</a>
        </li>
        <li>
          <a href="/websites/salon-morgana/rendez-vous/femme">Femme</a>
        </li>
        <li>
          <a href="/websites/salon-morgana/rendez-vous/enfant">Enfant (de 2 à 16 ans) </a>
        </li>
      </ul>
    </li>
    <!--<li id="realisations">
      <a href="/websites/salon-morgana/realisations">Réalisations</a>
    </li>-->
    <li id="contact">
      <a href="/websites/salon-morgana/contact">Nous contacter</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      03 44 04 27 85
    </li>
    <li>
      19 rue de l'eglise, <br/> 60 000 Tillé
    </li>
  </ul>
</nav>

  