{% extends 'fr/websites/salonMorgana/base.html.twig' %}

{% block content %}
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/femme4.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/homme1.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/homme3.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/femme5.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 phoneHide">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/femme2.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 phoneHide">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/femme1.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 phoneHide">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/homme2.jpg">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 phoneHide">
            <div class="card">
                <img src="/public/images/websites/salonMorgana/realisations/femme3.jpg">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}