<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage Corki</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/websites/garageCorki/index.css"> 
    <link rel="stylesheet" href="/public/css/websites/garageCorki/footer.css"> 
  </head>
  <body>   
    
    <header>
        {% include 'fr/websites/garageCorki/navbar.html.twig' %}
        {% include 'fr/websites/garageCorki/header.html.twig' %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
      {% include 'fr/websites/garageCorki/footer.html.twig' %}
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
  </body>
</html>