{% extends 'fr/websites/garageCorki/base.html.twig' %}
{% block main %}
  <div class="container" id="contenu">          
    <h1>Contacter le garage Corki spécialisé en entretien et réparation automobile à Boursines</h1>
      <hr class="barre">
      
    <div class="row">
      <div class="col-sm-6">
        <form>
            <div class="form-group">
                <label for="inputNom">Nom</label>
                <input type="text" class="form-control" id="inputNom" placeholder="Votre nom">
            </div>
            <div class="form-group">
                <label for="inputPrenom">Prénom</label>
                <input type="text" class="form-control" id="inputPrenom" placeholder="Votre Prénom">
            </div>
            <div class="form-group">
                <label for="inputTelephone">Numéro de téléphone</label>
                <input type="text" class="form-control" id="inputTelephone" placeholder="Votre Numéro de téléphone">
            </div>
            <div class="form-group">
              <label for="inputEmail">Adresse mail</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Votre adresse mail">
            </div>
            <div class="form-group">
              <label for="inputSujet">Message</label>
              <textarea class="form-control" id="inputSujet" rows="3"></textarea>
            </div>
            <button id="myBtn" type="submit" class="btn btn-secondary" >Envoyer</button>
          </form>
      </div>
      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1832.6070438707502!2d2.174228804684753!3d49.49021642289608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e7a9025fbf0251%3A0x9e7a1ab01df8dd68!2sGarage%20Corki!5e0!3m2!1sfr!2sfr!4v1616527484165!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
{% endblock %}