{% extends 'fr/websites/garageCorki/base.html.twig' %}
{% block main %}
  <div class="container" id="contenu">          
    <h1>En cas de panne, notre dépanneur vient vous chercher</h1>
      <hr class="barre">
    <div class="row">
      <div class="col-sm-4">
        <h2>le Garage Corki vous apporte des solutions sur-mesure en matière de dépannage</h2>
        <p>
          David Corki, votre professionnel de la mécanique, a récemment acquis une dépanneuse. Grâce à celle-ci, il est apte à 
          venir chercher votre véhicule en cas de panne ( chez vous ou sur la route ). 
          David à également acquis divers véhicules qu'il peut vous prêter lorsque le votre est au garage.
          Le garage Corki fait aussi de la location de véhicules à la demi-journée, à la journée ou encore, à la semaine.
          En cas de panne ou simplement pour avoir plus de renseignements n'hésitez pas à nous contacter par mail ou au 03 44 80 05 10.
        </p>
      </div>
      <div class="col-sm-8">
        <img class="d-block w-100 mesImages" src="/public/images/websites/garageCorki/depannage/depanneuse.png">
      </div>
    </div>
  </div>
{% endblock %}