{% extends 'fr/websites/garageCorki/base.html.twig' %}
{% block main %}
  <div class="container" id="contenu">          
    <h1>Confier l'entretien mécanique complet de votre véhicule à Boursines</h1>
      <hr class="barre">    
    <div class="row">
      <div class="col-sm-5">
        <h2>le Garage Corki vous apporte des solutions sur-mesure en matière d’entretien mécanique.</h2>
        <p>
          David Corki, votre professionnel de la mécanique, ainsi que son équipe mettent leur savoir-faire au service des particuliers et des 
          entreprises en réalisant l’entretien complet de divers véhicules quelles que soient leurs marques. Travaillant dans un garage équipé, 
          ils disposent d’appareils de diagnostic fiables avec un système de remise à zéro pour l’entretien de votre véhicule.
          Grâce à ce dispositif, vos techniciens sont apte à réaliser des diagnostics mécaniques complets. Outre la vidange et la vérification 
          de la puissance du véhicule, vos garagistes expérimentés sont habilités à réaliser la détection de pannes , la vérification des systèmes 
          de frein antiblocage (ABS), de l’airbag, de pneumatiques et de systèmes électroniques. En effet, leur compétences professionnelles 
          en mécanique automobile leurs permettent d’adapter chaque prestation proposée en fonction de vos besoins et du modèle du véhicule pris 
          en charge. Qu’il s’agisse d’un véhicule lourd ou d’un utilitaire, le garage Corki garantit une prestation sûre et de qualité à ses clients 
          afin d’assurer leur satisfaction, leur confort et leur sécurité au sein de leur véhicule.
          Votre garage Corki se trouve proche des localités de Froissy, Beauvais, Tillé et Abbeville-Saint-Lucien.
        </p>
      </div>
      <div class="col-sm-7">
        <img class="d-block w-100 mesImages" src="/public/images/websites/garageCorki/entretien/ajoutHuilde.png">
      </div>
    </div>
  </div>
{% endblock %}