<div class="footer fixed-bot">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3>horaires d'ouverture</h3>
                <hr>
                <p>
                    Du lundi au vendredi 
                    <br/> 8h - 12h
                    <br/> 13h30 - 18h
                    <br/> Le samedi
                    <br/> 8h30 - 12h30
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <h3>contact</h3>
                <hr>
                <p>
                    Tél.: 03 44 80 05 10
                    <br/> Mobile: 06 32 80 05 10
                    <br/> E-mail: contact@garage-corki.fr
                    <br/>Adresse: 87 rue de l'école
                    <br/>60510 Boursines
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <h3>être contacté</h3>
                <hr>
                <p>
                    Un membre de l'équipe vous 
                    <br/> appellera dès que possible <br/>
                    <input type="text" id="myInput" placeholder="Votre numéro">
                    <br/>
                    <button class="btn btn-light" id="myBtn" type="submit">être contacté</button>
                </p>                
            </div>
        </div>
    </div>
</div>
