<div class="jumbotron">
    <div class="logo">
      <a href="/websites/garage-corki"><img class="img-fluid" src="/public/images/websites/garageCorki/logo/logo.png" alt="Garage Corki" title="Garage Corki"></a>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 mesImages" src="/public/images/websites/garageCorki/caroussel/image3.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mesImages" src="/public/images/websites/garageCorki/caroussel/batterie.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 mesImages" src="/public/images/websites/garageCorki/caroussel/image1.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>