{% extends 'fr/websites/garageCorki/base.html.twig' %}
{% block main %}
  <div class="container" id="contenu">          
    <h1>Confiez votre véhicule au garage Corki à Boursines</h1>
      <hr class="barre">
      <p class="text-center">Fondé le 27 avril 2012 dans la région des Hauts-de-France, le Garage Corki est à votre disposition pour l’entretien 
        et la réparation de vos véhicules.
      </p>
    <div class="row">
      <div class="col-sm-6">
        <p>
          Gérant du garage automobile, David Corki prend en charge la réparation ainsi que l'entretien mécanique de votre véhicule, 
          qu’il s’agisse d’une automobile, d’un poids lourd ou d’un véhicule utilitaire. Au service des particuliers et professionnels, 
          votre expert en automobile s’appuie sur plus de 20 années d’expérience acquises dans le domaine de l’entretien et la réparation 
          automobile, pour vous proposer des services complets et de qualité.
        </p>
        <h2> UN PROFESSIONNEL DE LA MÉCANIQUE À VOTRE SERVICE </h2>
        <p>
          Détenteur d’un CAP de mécanicien automobile obtenu en 1999 au Lycée Paul Langevin à Beauvais, il a débuté en tant qu’apprenti 
          mécanicien et chauffeur routier chez Iveco à Compiègne. Disposant de solides compétences dans le domaine automobile, David Corki 
          assure des prestations d’entretien et de réparation automobile de qualité et personnalisées auprès de tous ses clients. En effet, 
          votre mécanicien qualifié est apte à intervenir sur des véhicules toutes marques et vous fournit également des pièces d’origine pour 
          les marques Peugeot, Citroën et Renault. Animé par le goût du travail bien fait dans le domaine de la mécanique , David Corki fait 
          preuve de professionnalisme et de rigueur pour garantir votre entière satisfaction. Votre garage Corki se trouve proche des localités 
          de Froissy, Beauvais, Tillé et Abbeville-Saint-Lucien.
        </p>
      </div>
      <div class="col-sm-6">
        <img class="d-block w-100 mesImages" src="/public/images/websites/garageCorki/index/niveauHuilde.png">
      </div>
    </div>
  </div>
{% endblock %}