<nav class="navbar transparent navbar-expand-lg fixed-top navbar-light bg-light text-dark" id="myNavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/websites/garage-corki">Garage Corki</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/websites/garage-corki#contenu">Accueil</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/websites/garage-corki/entretien#contenu">Entretien mécanique</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/websites/garage-corki/depannage#contenu">Dépannage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/websites/garage-corki/contact#contenu">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>