{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <h1>Exemples de sites web </h1>
        <div class="row">
            <div class="col-sm-4 mt-3">
                <a class="aCards" target="_blank" href="/websites/garage-corki"><div class="card w-100 text-black bg-light" id="corkiCard" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Garage Corki</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>Site vitrine d'un garage fictif</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a class="aCards" target="_blank" href="/websites/salon-morgana"><div class="card w-100 text-black bg-light" id="morganaCard" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Salon Morgana</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>Site vitrine d'un salon de coiffure fictif</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
        </div><!-- Row -->
    </div> <!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/websitesScripts/darkModeWebsites.js"></script>
{% endblock %}
