.footer{
    background-color: #8f8f8f;
    color: white;
    padding-top:5px;
    font-family: "Armata", Arial,Helvetica,sans-serif;
    font-size:1rem;
    margin-top: 30px;
}
h3{
   text-transform: uppercase;
}
#myInput{
    margin-top: 5px;
    margin-bottom: 5px;
}
#myBtn{
    font-family: Arial, Helvetica, sans-serif;
}