body{
    background-color: white;
}

.navbar{
    opacity: 0.8;
    background-color: grey;
}

h1{
    font-family: "Armata",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #a70707;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 50px;
}
h2{
    font-family: "Armata",Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #a70707;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.barre{
    margin-top:20px;
    margin-bottom:20px;
}

@media (min-width: 1200px){
    .mesImages{
        height: 600px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 200px;
        height: 0px;
        z-index: 887;
    }
}
@media (min-width: 720px) and (max-width: 1199px){
    .mesImages{
        height: 500px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 150px;
        height: 0px;
        z-index: 887;
    }
}
@media (max-width: 719px){
    .mesImages{
        height: 200px;
    }
    .logo{
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 100px;
        height: 0px;
        z-index: 887;
    }
}
@media (min-width: 1200px) and (max-width: 1599px){
    .mesImages{
        height: 700px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 200px;
        height: 0px;
        z-index: 887;
    }
}
@media (min-width: 1600px){
    .mesImages{
        height: 800px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 300px;
        height: 0px;
        z-index: 887;
    }
}
#myBtn{
    margin-top: 10px;
    margin-bottom: 20px;
}