.loginBox{
    width: 320px;
    height: 380px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-style: solid;
    color:black;
    border-color: black;
    border-width: 4px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 35px;
    background-color: #F8F9FA;
    z-index: 10;
}
#maSection{
    margin-top: 10px;
}
.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
}
.lesLiens {
    display:block;
    text-decoration:none;
    padding:15px;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
}
  
.tab-content > div:last-child {
    display:none;
}

#lienConnexion{
    background-color: #AAAAAA;
    color:black;
    
}
#lienInscription{
    background-color: #212529;
    color: white
}
#gestionErreurs>div>ul{
    display: none;
}
#resultats, .alert{
    margin-top:10px;
    z-index: 887;
}