<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        {% block stylesheets %}    
        {% endblock %}
    </head>
    <body>
        <header>
                {% include 'fr/navbar.html.twig' %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
            <!-- Mes scripts -->
            <script src="/public/scripts/navbarScripts/darkModeButton.js"></script>
            <script src="/public/scripts/navbarScripts/langScript.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
