<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myNavbar" style="z-index: 887;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Clément Boulet</a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">About me</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/features">Features</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/websites">Website examples</a> 
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a><!-- Dropdown -->
          <ul class="dropdown-menu ms-auto bg-light" id="monDropDown" aria-labelledby="navbarDropdown">
            <li class="dropdown-item LabelChoixLangue">Language</li> <!-- Choix de la langue -->
            <li><a class="dropdown-item" id="langueFR" href="/">French</a></li>
            <li><a class="dropdown-item" id="langueAN" href="/">English</a></li> 
            <li><hr class="dropdown-divider" id="monDivider" style="border-color:black; border-width:2px;"></li> 
            <li class="dropdown-item">
              <div class="form-check form-switch" id="divSwitchButton">
                <section>
                <label class="form-check-label monLabelBtn" id="btnLabelSwitch" for="flexSwitchCheckChecked">Darkmode</label>
                <input class="form-check-input bg-dark" type="checkbox" id="flexSwitchCheckChecked" name="maCheckbox" checked/>
                </section>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          {% if app.user %}
            <a class="nav-link" aria-current="page" href="/logout">Disconnect</a>
          {% else %}
            <a class="nav-link" aria-current="page" href="/login">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>