{% extends 'an/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}

{% block stylesheets %} 
<link href="/public/css/about/commonAbout.css" rel="stylesheet"> 
{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="maColonne">
                    <img src="/public/images/about/profil.jpg" alt="photo de profil" height="100%" width="100%">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="maColonne" id="colonneDroite">
                    <h1 class="monTitre">About me !</h1>
                    <div class="row">
                        <p> Born on July 10th, 2000 in Béthune, I am 20 years old, I have a French STI2D baccalaureat speciality Computer 
                            and Digital Systems and a Computer Science DUT course Web development. I am looking for a work-study program in 
                            the domain of web development. Currently, I have a student contract at Auchan Beauvais (since January 26, 2019).
                        </p>
                    </div>
                    <div class="row">
                        <p> In DUT we had the opportunity to learn many differents things like management, economics, project management...
                            We learned the basics of many languages such as C, C++, C# and python for example. In the second year we started 
                            to apply Object-Oriented Programming. Having chosen the "web" course in the second year, i learned to use 
                            Symfony and used it during my internship.
                        </p>
                    </div><!-- Row -->
                    <div class="row">
                        <p> To develop this website I use Php, JavaScript, CSS3 and HTML5. I use Symfony with Twig and Bootstrap
                            for the layout. The versioning tool used is 
                            <a class="mesLiens" target="blank" href="https://www.gitlab.com/Boulet/Site/">Gitlab</a>, 
                            it also allows me to make the code of this website public.
                        </p>
                    </div><!-- Row -->
                
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <i class="bi bi-envelope"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                            </svg>
                            <a class="mesLiens" href="mailto:contact@clement-boulet.fr">contact@clement-boulet.fr</a>
                        </div>   
                        <div class="col-sm-6 text-center">
                            <i class="bi bi-telephone"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            <a class="mesLiens" href="callto:+33695482898">06 95 48 28 98</a>
                        </div>                         
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <i class="bi bi-linkedin"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg>
                            <a class="mesLiens" target="blank" href="https://www.linkedin.com/in/clement-boulet/">linkedin/clement-boulet</a>
                        </div>
                    </div>
                </div> <!-- Ma col -->
            </div><!-- Col -->
        </div> <!-- Row -->
    </div> <!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/aboutScripts/darkModeAbout.js"></script> 
{% endblock %}
