{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="container">
        
        <h1>Fonctionnalités</h1>
        <p>Ici seront listées toutes sortes de fonctionnalités</p>

        <div class="row">
            <div class="col-sm-4 mt-3">
                <a class="aCards" href="/features/postalCode"><div class="card w-100 text-black bg-light" id="APICard" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Intéraction avec une API</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>Recherche d'une commune par code postale</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a class="aCards" href="/features/sendEmail"><div class="card w-100 text-black bg-light" id="sendEmailCard" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Envoie d'un email</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>Utilisation de symfony mailer</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a class="aCards" href="/features/graphic"><div class="card w-100 text-black bg-light" id="graphicCard" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Génération de graphiques</h5>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="card-text">
                            <p>Utilisation de Vega-Lite</p>
                        </div><!-- card-text -->
                    </div><!-- card-body -->
                </div><!-- Card -->
                </a>
            </div>
        </div>

    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script>
{% endblock %}