{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}


{% block main %}
<div class="jumbotron">
    <div class="container">
        
        <h1>Utilisation de Vega Lite pour la génération de graphiques</h1>
        <p> 
            <a href="https://vega.github.io/vega-lite/" 
            target="blank" class="mesLiens">Vega-Lite</a> permet d'inclure assez facilement toutes sortes de graphiques sur nos sites web. Sur celui ci-dessous,
            nous pouvons observer la courbe du chiffre d'affaire d'une entreprise. Il est possible de modifier ce graphique comme nous le voulons avec un 
            peu de JavaScript. Ici je vous propose simplement de modifier la valeur du chiffre d'affaire de cette entreprise en saisissant les données de votre choix.
        </p>
        <div class="row">
            <div class="col-sm-5" style="margin-top:30px;">
                <div id="vis" class="w-100"></div>
            </div>

            <div id="changements" class="col-sm-6" style="margin-top:10px;">
                <h3>Modifications</h3>
                <div class="row">
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-janvier">Janvier</span>
                            </div>
                            <input type="text" class="form-control" id="janvierInput" aria-describedby="basic-addon-janvier">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-fevrier">Février</span>
                            </div>
                        <input type="text" class="form-control" id="fevrierInput" aria-describedby="basic-addon-fevrier">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-mars">Mars</span>
                            </div>
                        <input type="text" class="form-control" id="marsInput" aria-describedby="basic-addon-mars">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-avril">Avril</span>
                            </div>
                            <input type="text" class="form-control" id="avrilInput" aria-describedby="basic-addon-avril">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-mai">Mai</span>
                            </div>
                        <input type="text" class="form-control" id="maiInput" aria-describedby="basic-addon-mai">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-juin">Juin</span>
                            </div>
                        <input type="text" class="form-control" id="juinInput" aria-describedby="basic-addon-juin">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-juillet">Juillet</span>
                            </div>
                            <input type="text" class="form-control" id="juilletInput" aria-describedby="basic-addon-juillet">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-aout">Août</span>
                            </div>
                        <input type="text" class="form-control" id="aoutInput" aria-describedby="basic-addon-aout">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-septembre">Septembre</span>
                            </div>
                        <input type="text" class="form-control" id="septembreInput" aria-describedby="basic-addon-septembre">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-octobre">Octobre</span>
                            </div>
                        <input type="text" class="form-control" id="octobreInput" aria-describedby="basic-addon-octobre">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-novembre">Novembre</span>
                            </div>
                            <input type="text" class="form-control" id="novembreInput" aria-describedby="basic-addon-novembre">
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-decembre">Décembre</span>
                            </div>
                        <input type="text" class="form-control" id="decembreInput" aria-describedby="basic-addon-decembre">
                        </div>
                    </div>
                    <div class="text-center" style="margin-bottom:20px;">
                        <button class="btn btn-secondary" id="btnModifier">Modifier</button>
                    </div>
                </div><!-- Row -->
            </div><!-- Col -->
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5.19.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1"></script>

<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script> 
<script src="/public/scripts/featuresScripts/graphic.js"></script>
{% endblock %}