{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}


{% block main %}
<div class="jumbotron">
    <div class="container">
        
        <h1>Utilisation d'une API de recherche de communes par code postal</h1>
        <p> 
            L'API utilisée est disponible sur  <a href="https://api.gouv.fr/documentation/api_carto_codes_postaux" 
            target="blank" class="mesLiens">api.gouv.fr</a>. Dans le champs texte ci-dessous, nous ne pouvons rentrer que 5 chiffres. 
            Par contre comme chaque combinaison possible n'est pas attribuée à exactement une commune, parfois nous en aurons plusieurs 
            pour une même combinaison et d'autres fois il n'y aura rien. Cette API peut par exemple être utilisée pour des formulaires
            d'inscription, lorsque l'utilisateur doit entrer son code postal, on peut insérer dynamiquement dans un champ de selection les
            communes qui y sont liées afin de faciliter le formulaire ou même de limiter les fautes de frappe.
        </p>

        <div class="col-sm-4">
            <div class="input-group input-group-lg">
                <input id="entree" type="text" class="form-control" placeholder="code postal">
                <button id="rechercher" class="btn btn-outline-secondary" type="button" style="margin-left:5px;">Rechercher</button>
            </div>
        </div>

        <div id="resultats" class="col-sm-4" style="margin-top:10px;">
            <!-- Ici viendront les résultats de la recherche -->
        </div>

    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Mes Scripts -->
<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script> 
<script src="/public/scripts/featuresScripts/postalCode.js"></script>
{% endblock %}