{% extends 'fr/base.html.twig' %}

{% block title %}Clément Boulet{% endblock %}


{% block main %}
<div class="jumbotron">
    <div class="container">
        
        <h1>Envoie d'un email</h1>
        <p> 
            Ici il suffit de rentrer votre adresse mail, l'objet du mail ainsi qu'un message. Ensuite, lorsque vous cliquerez sur "Envoyer", 
            le serveur vous enverra un mail à l'adresse renseignée.
        </p>

        <div class="col-sm-8">
            <div class="entrees" style="margin-bottom: 10px;">
            {{ form_start(form) }}
            {{ form_row(form.emailTo) }}
            {{ form_row(form.sujet) }}
            {{ form_row(form.message) }}
            </div>
            <button class="btn btn-secondary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div><!-- Container -->
</div><!-- Jumbotron -->
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/public/scripts/featuresScripts/darkModeFeatures.js"></script> 
<script src="/public/scripts/featuresScripts/postalCode.js"></script>
{% endblock %}

