#mail, #facebook, #instagram{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #3A456B ;
    font-size: 24px;
    text-align: -webkit-match-parent;
}
#instagram{
    border-bottom: none;
}
.reseaux{
    list-style: none;
}
div{
    display: block;
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    flex: 0 0 64px;
    border-radius: 99em;
    background-color: #3A456B;
    margin: 0 10px 0 0;
    color:#FBD256;
}
.mesLiens{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}