.tabHoraires{
    background-color:#3A456B!important;
    color: white;
}
.heure{
    font-size: 2em;
    margin:10px;
    height: 60px;
    font-weight: 600;
    background-color: white;
    color:#FF5071;
    cursor: pointer;
}
.heure>p, .jour>p{
    color:#FF5071;
}
#mois,.jour{
    font-size: 2em;
    height: 60px;
    font-weight: 600;
    color:#FF5071;
    cursor: pointer;
}
.jour>p:hover,.jour.divActive>p{
    color: #FBD256;
}

.heure>p:hover{
    color: #3A456B;
}

#precedent,#suivant{
    font-size: 2em;
    font-weight: 900;
    color:#FF5071;
    background-color: #fff;
    border:1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    margin-left:20px;
    margin-right:20px;
}