@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: #3A456B;;
}

#titre{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.7em;
    color: #3A456B;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px #3A456B;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar>.container-fluid{
    justify-content: right;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #3A456B;
    /*background: #7386D5;*/
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #384060;
    color:#FF5071;
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #384060;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em; 
    display: block;
    color: #FBD256;
}

#sidebar ul li a:hover {
    color: #3A456B;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #FBD256;
    background: #384060;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #384060;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs li {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #FBD256;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebarCollapse{
    position: fixed;
    top:0;
    left:0;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 887;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

h1{
    color:#3A456B!important;
    margin-left: 10px;
    margin-top: 10px;
}

#content.active {
    width: 100%;
}

.btn-info {
    color:#FBD256!important;
    background-color:#3A456B!important ;
    border-color:#3A456B!important ;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #sidebarCollapse.active{
        position: fixed;
        top:0;
        left:0;
        margin-top: 20px;
        margin-left: 270px;
        z-index: 887;
        transition: all 0.3s;
    }
    /*#content.active {
        width: calc(100% - 250px);
    }*/
    #sidebarCollapse span {
        display: none;
    }
    .phoneHide{
        display: none;
    }
}
@media(min-width:769px){
  #sidebarCollapse {
    display: none;
    }
}